<div class="closeWrapper">
    <button mat-dialog-close mat-icon-button class="closeBtn">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="dialog">
    <form (submit)="submit()" [formGroup]="loginForm" fxLayout="column" fxLayoutGap="2px">
        <div class="form-group" fxLayout="column" fxLayoutGap="12px">
            <div fxLayout="column" fxLayout.gt-md="row" fxFlex="100" class="field">
                <label for="email" fxFlex="20">Email</label>
                <div fxFlex="50" class="inputWrapper">
                    <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email" #username>
                </div>
            </div>
            <div class="validateErrorWrapper {{ checkValid(controls.email) }}">
              <mat-error>{{ getFormInvalidMessage(controls.email) }}</mat-error>
            </div>
        </div>
        <div class="form-group" fxLayout="column" fxLayoutGap="12px">
            <div fxLayout="column" fxLayout.gt-md="row" fxFlex="100" class="field">
                <label for="password" fxFlex="20">Password</label>
                <div fxFlex="50" class="inputWrapper">
                    <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" #password>
                </div>
            </div>
            <div class="validateErrorWrapper {{ checkValid(controls.password) }}">
                <mat-error>{{ getFormInvalidMessage(controls.password) }}</mat-error>
            </div>
        </div>
        <div class="btn">
            <button *ngIf="data?.signIn" mat-flat-button type="submit" class="btn-primary" id="submit">Sign In</button>
            <button *ngIf="!data?.signIn" mat-flat-button type="submit" class="btn-primary" id="submit">Sign Up</button>
        </div>
    </form>
</div>